<html>
     <head>
          <title>CITAS CITABLES</title>
     </head>
     <body>
         <div>
             <h1><a href="">Citas,versos</a></h1>
          </div>

         <div>
             <p>published: 21.05.2017, 0858</p>
             <h2><a href="">My first post</a></h2>
             <p>Judas me demostro, no todo el que besa ama</p>
         </div>

         <div>
             <p>published: 21.05.2017, 08:59</p>
             <h2><a href="">My secund post</a></h2>
             <p>El senor va delante de ti es estara contigo no te dejara</p>
         </div>
     </body>

</html>